<div id="app">
    <%= form_for(@user) do |f| %>
        <div class="logo_area">
            <img src="/assets/レコンシェルジュロゴカラー.png" alt="" srcset="">
        </div>
        <div class="slider">
            <div class="pages" v-bind:style="{left: slide}">
                <div class="page">
                    <concierge-c height="95px" icon="/assets/レコ美_アイコン_全体説明.png">
                        <p>レコンシェルジュは<br>溜まっていくお小遣いを<br>何に使えばいいか教えてくれる<br>アプリです。</p>
                    </concierge-c>
                    <br>
                    <concierge-c height="54px" icon="/assets/レコ美_アイコン_全体説明.png">
                        <p>まずは必要な情報を<br>入力してください！</p>
                    </concierge-c>
                    <div class="form_area" style="margin-top: 20px">
                        <div class="box">
                            <p>メールアドレス</p>
                            <%= f.text_field :mail, "class" => "text", "placeholder" => "xxxxx@xxxxx.com" %>
                        </div>
                    </div>
                    <div class="form_area" style="margin-top: 10px">
                        <div class="box">
                            <p>パスワード</p>
                            <%= f.password_field :password, "class" => "text", "placeholder" => "****************" %>
                        </div>
                    </div>
                    <div class="form_buttons">
                        <a data-method="post" href="/welcometest" class="back_page">戻る</a> 
                        <form-button-c v-on:slide="slide = '-100vw'">次へ</form-button-c>
                    </div>
                </div>
                <div class="page">
                    <concierge-c height="90px" icon="/assets/レコ美_アイコン_全体説明.png">
                        <p>次に、プロフィールの入力を<br>お願いします。</p>
                    </concierge-c>
                    <div class="form_area" style="margin-top: 20px">
                        <div class="box">
                            <p>ニックネーム</p>
                            <%= f.text_field :nickname, "class" => "text", "placeholder" => "お金に困り太郎" %>
                        </div>
                    </div>
                    <div class="form_area" style="margin-top: 20px">
                        <div class="box">
                            <p>年代</p>
                            <div class="bottuns" style="width: 226px">
                                <user-button-c v-on:set="user.age = '10'" v-bind:userdata="user.age" data="10">10代</user-button-c>
                                <user-button-c v-on:set="user.age = '20'" v-bind:userdata="user.age" data="20">20代</user-button-c>
                                <user-button-c v-on:set="user.age = '30'" v-bind:userdata="user.age" data="30">30代</user-button-c>
                            </div>
                            <div class="bottuns" style="width: 148px; margin-top: 10px;">
                                <user-button-c v-on:set="user.age = '40'" v-bind:userdata="user.age" data="40">40代</user-button-c>
                                <user-button-c v-on:set="user.age = '50'" v-bind:userdata="user.age" data="50">50代以上</user-button-c>
                            </div>
                        </div>
                        <div style="display: none"><%= f.text_field :age, "v-model" => "user.age" %></div>
                    </div>
                    <div class="form_area" style="margin-top: 20px">
                        <div class="box">
                            <p>性別</p>
                            <div class="bottuns" style="width: 148px">
                                <user-button-c v-on:set="user.sex = '0'" v-bind:userdata="user.sex" data="0">男性</user-button-c>
                                <user-button-c v-on:set="user.sex = '1'" v-bind:userdata="user.sex" data="1">女性</user-button-c>
                            </div>
                        </div>
                        <div style="display: none"><%= f.text_field :sex, "v-model" => "user.sex" %></div>
                    </div>
                    <div class="form_buttons">
                        <form-button-c v-on:slide="slide = '0'">戻る</form-button-c>
                        <form-button-c v-on:slide="slide = '-200vw'">次へ</form-button-c>
                    </div>
                </div>
                <div class="page">
                    <concierge-c height="90px" icon="/assets/レコ美_アイコン_全体説明.png">
                        <p>項目の中から興味のあるジャンルを<br>選んでください（最低３ジャンル）</p>
                    </concierge-c>
                    <div class="form_area">
                        <div class="box">
                            <genre-button-c v-for="genre in user.genres" :key=genre.id v-on:toggle="genre.flag = !genre.flag" :flag="genre.flag">
                                {{ genre.name }}
                            </genre-button-c>
                        </div>
                        <div style="display: none"><%= f.text_field :genre, "v-model" => "genreText" %></div>
                    </div>
                    <div class="form_buttons" style="margin-bottom: 100px">
                        <form-button-c v-on:slide="slide = '-100vw'">戻る</form-button-c>
                        <form-button-c v-on:slide="slide = '-300vw'">次へ</form-button-c>
                    </div>
                </div>
                <div class="page">
                    <concierge-c height="90px" icon="/assets/レコ美_アイコン_全体説明.png">
                        <p>GMOあおぞらネット銀行との連携を<br>行います。<br>トークンの取得と入力をお願いします。</p>
                    </concierge-c>
                    <div class="form_area" style="margin-top: 20px">
                        <div class="box">
                            <p class="token_text"><a href="https://gmo-aozora.com/sunabar/pdf/guide-service.pdf?_ga=2.65608430.1951887090.1590384940-2084011802.1590028280&_gac=1.242352694.1590109157.EAIaIQobChMIlYrqmaLG6QIVTNiWCh1ZXgpoEAAYASAAEgLo_vD_BwE">アクセストークンについて詳しくはこちら</a></p>
                            <div class="token_button"><a href="">アクセストークンを取得する</a></div>
                            <p>アクセストークン</p>
                            <%= f.text_field :token, "class" => "text", "placeholder" => "" %>
                        </div>
                    </div>
                    <div class="form_buttons">
                        <form-button-c v-on:slide="slide = '-200vw'">戻る</form-button-c>
                        <form-button-c v-on:slide="slide = '-400vw'">次へ</form-button-c>
                    </div>
                </div>
                <div class="page">
                    <concierge-c height="90px" icon="/assets/レコ美_アイコン_全体説明.png">
                        <p>最後に、毎月の貯金予定額を<br>教えて下さい。</p>
                    </concierge-c>
                    <div class="form_area" style="margin-top: 20px">
                        <div class="box">
                            <p>貯金予定額</p>
                            <div class="deposit">
                                <%= f.text_field :deposit, "class" => "text", "placeholder" => "50000" %>
                                <div class="yen">円</div>
                            </div>
                        </div>
                    </div>
                    <div class="form_buttons">
                        <form-button-c v-on:slide="slide = '-300vw'">戻る</form-button-c>
                        <form-button-c v-on:slide="slide = '-500vw'">次へ</form-button-c>
                    </div>
                </div>
                <div class="page">
                    <concierge-c height="90px" icon="/assets/レコ美_アイコン_全体説明.png">
                        <p>以上で会員登録は終了です<br>さっそくレコンシェルジュを<br>使ってみてくださいね</p>
                    </concierge-c>
                    <div class="form_area" style="margin-top: 85px">
                        <div class="box">
                            <div class="button_area">
                                <%= f.submit :class=>"submit", :type=>"image", :src=>"/assets/レコンシェルジュを使うボタン.png" %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        
        
        
        
    <% end %>
    
    

    
</div>

