<div id="app">
    <%= form_for(@user) do |f| %>
        <div class="logo_area">
            <img src="/assets/レコンシェルジュロゴカラー.png" alt="" srcset="">
        </div>
        <div class="pages">
            <div class="page">
                <concierge-c height="95px" icon="/assets/レコ美_アイコン_全体説明.png">
                    <p>レコンシェルジュは<br>溜まっていくお小遣いを<br>何に使えばいいか教えてくれるアプリです。</p>
                </concierge-c>
                <br>
                <concierge-c height="54px" icon="/assets/レコ美_アイコン_全体説明.png">
                    <p>まずは必要な情報を<br>入力してください！</p>
                </concierge-c>
                <div class="form_area" style="margin-top: 20px">
                    <div class="box">
                        <p>メールアドレス</p>
                        <%= f.text_field :mail, "class" => "text", "placeholder" => "xxxxx@xxxxx.com" %>
                    </div>
                </div>
                <div class="form_area" style="margin-top: 10px">
                    <div class="box">
                        <p>パスワード</p>
                        <%= f.text_field :password_digest, "class" => "text", "placeholder" => "****************" %>
                    </div>
                </div>
                <form-button-c width="120px" height="32px" style="margin-top: 25px">次へ</form-button-c>
            </div>
        </div>
        
        <div><%= f.label :nickname %></div>
        <div><%= f.text_field :nickname, "v-model" => "genreText" %></div>
        <div><%= f.label :age %></div>
        <div><%= f.text_field :age, "v-model" => "user.age" %></div>
        <div><%= f.label :sex %></div>
        <div><%= f.text_field :sex, "v-model" => "user.sex" %></div>
        <div><%= f.label :deposit %></div>
        <div><%= f.text_field :deposit %></div>
        <div><%= f.submit %></div>
    <% end %>
    <user-button-c v-on:set="user.age = '10'" v-bind:userdata="user.age" data="10">10代</user-button-c>
    <user-button-c v-on:set="user.age = '20'" v-bind:userdata="user.age" data="20">20代</user-button-c>
    <user-button-c v-on:set="user.age = '30'" v-bind:userdata="user.age" data="30">30代</user-button-c>
    <user-button-c v-on:set="user.age = '40'" v-bind:userdata="user.age" data="40">40代</user-button-c>
    <user-button-c v-on:set="user.age = '50'" v-bind:userdata="user.age" data="50">50代以上</user-button-c>

    <user-button-c v-on:set="user.sex = '0'" v-bind:userdata="user.sex" data="0">男性</user-button-c>
    <user-button-c v-on:set="user.sex = '1'" v-bind:userdata="user.sex" data="1">女性</user-button-c>
</div>

